<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document | <%= title %></title>
  </head>
  <body>
    <!-- in ejs we write expression inside <% %> and for output we add = -->
    <a href="/">Home</a>

    <a href="/blogs/create">New Blog</a>

    <a href="/about">About</a>

    <h3 class="site-title">Home</h3>

    <div class="all-blog">
      <p>ALL BLOGS</p>
      <% if (blogs.length > 0) { %>
     <% blogs.forEach(dat => { %>

      <h5><%= dat.title %></h5>
      <h5><%= dat.description %></h5>

      <% }) %>
       <% } else { %>
        <h5>No data </h5>
        <% } %>
    </div>

    <nav></nav>
  </body>
</html>
